.Logiciel-element {
    background-color: #CDB4DB;
}

.Langages-element {
    background-color: #A9D6E5;
}

.Informatique-element {
    background-color: #B8D8BA;
}

.Soft-element {
    background-color: #FFD6A5;
}

a {
    color: rgb(0, 0, 238);
}