@import url("shape.css");
@import url("font.css");
@import url("icons.css");

:root {
    /* Main colors for layout */
    --main-bg-color: #ffffff;
    --main-color: black;
    --main-link-color: #4B3F6E;

    /* Colors for more varieties */
    --alt-bg-color: #6C5F8D;
    --alt-color: white;
    --alt-link-color: white;

    /* Colors for nav */
    --nav-bg-color: #9C8CB9;
    --nav-color: black;

    /* Color for skills */
    --logicial-color-title: var(--nav-bg-color);
    --logicial-color-element: #BA96C1;
    --langage-color-title: var(--nav-bg-color);
    --langage-color-element: #BA96C1;
    --computer-color-title: var(--nav-bg-color);
    --computer-color-element: #BA96C1;
    --soft-color-title: var(--nav-bg-color);
    --soft-color-element: #BA96C1;
    --default-skills-color: #000000;

    /* Color for cards */
    --card-bg-color: #DCD7D5;

    /* Sizes font */
    --font-size-hight: 1.8em;
    --font-size-medium: 1.4em;
    --font-size-contents: 1em;

    /* line-height */
    --line-height-title: 1.5em;
    --line-height-texte: 1.2em;

    /* margin */
    --margin-contents: 1em;
    --margin-hight: 0.8em;
    --margin-medium: 0.5em;
    --margin-texte: 0.2em;

    /* padding */
    --rgt-padding-contents: 1.2em;
    --lft-padding-contents: 1.5em;
}

body {
    background-color: var(--main-bg-color);
    color: var(--main-color);
    margin: auto;
}

p {
    text-align: justify;
}

* {
    scroll-margin-top: 80px;
    /* ou la hauteur souhaitée */
}